*,
*::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
}

:root {
    --clr-primary: rgb(218, 215, 205);
    --clr-secondary: rgb(0, 0, 0);
    --clr-secondary-accent: rgb(0, 0, 0, 0.3);
    --clr-header: rgb(211, 211, 211, 0.6);
    --clr-header-accent: rgb(34, 90, 143);
    --clr-globe: rgb(164, 8, 255);
    --clr-software: rgb(0, 255, 13);
    --clr-application: rgb(229, 152, 155);
    --clr-bottom-segment: rgb(227, 100, 20, 0.8 );
    --fs-100: 1rem;
    --fs-125: 1.25rem;
    --fs-150: 1.5rem;
    --fs-200: 2rem;
    --fs-250: 2.5rem;
    
    
    --fw-regular-400: 400;
    --fw-medium-600: 600;
    --fw-bold-700: 700;

}

/* CUSTOM PROPERTY */

.margin-top-100  {
    margin-top: 1rem;
}


.margin-top-500 {
    margin-top: 5rem;
}

.margin-block-100 {
    margin-block: 1rem;
}

.margin-block-200 {
    margin-block: 2rem;
}

.margin-bottom-100 {
    margin-bottom: 2rem;
}

.margin-bottom-400 {
    margin-bottom: 4rem;
}

.padding-block-200 {
    padding-block: 2rem;
}


.primary-header  {
    background-color: var(--clr-header);
    position: fixed;
    inset: 0 auto 0 0;
    width: 20%;
    box-shadow: 0 0 5px 1px var(--clr-secondary-accent);
}

.portfolio-image-container h2 {
    text-align: center;
    font-size: var(--fs-100);
}


.nav-list, .portfolio-image-container, .header-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.navigation-list {
    margin-block-start: 1rem;
} 

.nav-list li {
    list-style: none;
    line-height: 2rem;
}

.nav-list li a {
    position: relative;
    text-decoration: none;
    color: var(--clr-secondary);
    font-size: var(--fs-100);
    font-weight: var(--fw-bold-700);
    opacity: 0.85;
    transition: ease-in-out 0.5s;
}

.nav-list li a:hover {
   color: var(--clr-header-accent);
}


.nav-list li a::before {
    content: '';
    position: absolute;
    bottom: -0.3rem;
    width: 100%;
    height: 2.5px;
    opacity: 0;
    background-color: var(--clr-header-accent);
    transform: scaleX(0);
    transform-origin: left;
    transition: ease-in-out 0.5s;
    
}

.nav-list li a:hover::before {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
}


.header-footer {
    margin-top: 7rem;
}

.header-footer p {
    font-size: 0.9rem;
}

.main-container {
    position: fixed;
    right: 0;
    width:78%;
    min-height: 100vh;
    margin-left: 3rem;
    padding-inline-start: 1rem;
    box-shadow: 0 0 15px  var(--clr-secondary-accent);
}


.main-container-content p {
    width: 100ch;
}

.title-bold {
    color: var(--clr-header-accent);
}

.content-title-1 {
    margin-top: 0.5rem;
    font-size: var(--fs-100);
    opacity: 0.75;
}


/* Card Styling */

.even-columns {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.card {
    transition: transform ease-in-out 0.3s;
}

.card-content {
    width: 220px;
    height: 150px;
    padding: 1rem;
    box-shadow: 0 0 5px var(--clr-secondary-accent);
}

.card-web-design {
    border-bottom: 2px solid var(--clr-globe);
}


.card-software {
    border-bottom: 2px solid var(--clr-software);
}

.card-application {
    padding: 1.5rem;
    border-bottom: 2px solid var(--clr-application);
}

.card:hover {
    transform: scale(1.05);
}

  
.portfolio-image-container > *:nth-child(3) {
    opacity: 0.5;
}
    

.portfolio-image-container .portfolio-img {
    background-image: url(/image/5B2FBD2B-7CC4-4051-BC13-D304D086635F-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.form-part{
    display: flex;
    gap: 1rem;

}

.bottom-segment {
    /* width: 50%; */
    height: 10rem;
    background-color: var(--clr-bottom-segment);
    padding: 1rem;
    box-shadow: 0 0 5px 3px var(--clr-secondary-accent);
}

.bottom-segment h2 {
    line-height: 1.3;
}

.bottom-segment a {
    display: inline-block;
    text-decoration: none;
    color: var(--clr-secondary);
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid var(--clr-secondary);
    box-shadow: 0 0 3px var(--clr-secondary);
}

form{
margin-top: 2rem;
width: 50%;
}

input{
    width: 95%;
    padding: 1rem;
    margin: 0.4rem;
}

button{
    width: 10rem;
    padding: 0.6rem;
    border-radius: 1rem;
    background-color:rgba(233, 160, 23, 0.829);
    border: none;
    box-shadow: 2px 5px 3px 1px;
    margin: 1rem;
    margin-left: 45rem;
    cursor: pointer;
    }



